body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 106, 180);
    background-color: #f7c6db;
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
      margin: 0;
          padding: 20px;

}

input[type="text"] {
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  border: 2px solid #f7b6d2;
  width: 200px;
}
button {
    background-color: palevioletred;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    color: white;
     cursor: pointer;
 transition: background-color 0.3s ease;
 border: none;

}
h1 {
    color: rgb(170, 126, 211);
       margin-bottom: 20px;
  text-align: center;
 
}
#fullNameOutput {
     margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #cc0066;
}
button:hover {
  background-color: #d94f94;
}

.error {
  color: blue;
}